
.icon-html5:before { content: '\e801'; } /* '' */
.icon-css:before { content: '\e802'; } /* '' */
.icon-wordpress:before { content: '\e803'; } /* '' */
.icon-squares:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */